body {
    background: rgb(60, 74, 74);
    color: white;
    margin: 35px;
    font: normal 25px Arial;
}

.cabeçalho {
    
    font-size: 30px;
    color: rgb(39, 39, 39);
    background-color: rgb(149, 235, 254);
    border-radius: 15px;
    width: 60%;
    height: 100%;
}

.content {
    padding: 25px;
    font-size: 35px;
}

input {
    font-size: 100%;
    border-radius: 8px;
    box-shadow: 4px 4px rgb(149, 235, 254);

}

.resultado {
    background-color: rgb(255, 255, 255);
    color: rgb(39, 39, 39);
    height: 220px;
    width: 450px;
    margin-top: 45px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 4px 4px rgb(149, 235, 254);
}

