@import url('https://fonts.cdnfonts.com/css/press-start-2p');

body {
    background-color: rgb(55, 69, 69);;
    color: white;
    margin: 35px;
    font: normal 25px Arial;
    border-radius: 10px;
    min-width: 250;
    max-width: 1000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgb(48, 48, 48) 0px 0px 0px 8px;
}

main {
    background: rgb(97, 136, 136);
    border-radius: 10px;
    align-items: center;
    padding: 25px;
    font-size: 32px;
}

.cabeçalho {
    font-size: 20px;
    font-family: 'Press Start 2P', sans-serif;
    color: rgb(23, 47, 52);
    background-color: rgb(149, 235, 254);
    border-radius: 10px;
    padding: 1px;
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 15px;
    max-width: 240px;     
}

input {
    font-size: 100%;
    border-radius: 8px;
    box-shadow: 4px 4px rgb(149, 235, 254);
    border: 2.5px solid rgb(95, 170, 187);
    max-width: 240px; 
}

.resultado {
    background-color: rgb(255, 255, 255);
    color: rgb(39, 39, 39);
    margin-top: 45px;
    padding-left: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px  rgb(149, 235, 254);
    border: 2.5px solid rgb(95, 170, 187);
    max-width: 100%;
}

