@import url('https://fonts.cdnfonts.com/css/press-start-2p');

body {
    background-color: rgb(60, 74, 74);;
    color: white;
    margin: 35px;
    font: normal 25px Arial;
}

main {
    background: rgb(82, 119, 119);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    min-width: 250;
    max-width: 1000;
    align-items: center;
}

.cabeçalho {
    font-size: 20px;
    font-family: 'Press Start 2P', sans-serif;
    color: rgb(23, 47, 52);
    background-color: rgb(149, 235, 254);
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 15px;    

}

.content {
    padding: 25px;
    font-size: 32px;
}

input {
    font-size: 100%;
    border-radius: 8px;
    box-shadow: 4px 4px rgb(149, 235, 254);
    border: 3px solid rgb(95, 170, 187);
    max-width: 248px; 

}

.resultado {
    background-color: rgb(255, 255, 255);
    color: rgb(39, 39, 39);
    margin-top: 45px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 4px 4px  rgb(149, 235, 254);
    max-width: 100%;
}

